body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(../img/Foto.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

/* Scrolling bar */
body::-webkit-scrollbar{
    width: 9px;
    background: #dcecf9;
}

body::-webkit-scrollbar-thumb{
    background: #0056D2;
    border-radius: 10px;
    border-right: 1px solid #dcecf9;
}

#logo{
    margin: 5px 2% 0 35px;
}

#logo a{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'open sans';
    top: 0;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav a{
    color: #777;
    text-decoration: none;
    padding: 7px 22px;
    font-size: 15px;
    transition: .2s;
}

.nav_item:hover{
    background: #FF6347;
    color: white;
    border-radius: 5px;
}

.nav_label{
    font-size: 30px;
}

.nav_label, .nav_input{
    display: none;
}

/* Buscador */
.search{
    width: 300px;
    margin: 0 15px 0 130px;
}

.search .buscar{
    background: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 0 0 0 40px;
    display: inline-block;
    margin-top: 5px;
}

.buscar input, .buscar button{
    position: relative;
    float: left;
    width: 200px;
    height: 35px;
    padding: 0;
}

.buscar input{
    color: #666;
    border: none;
    z-index: 2;
}

.buscar button{
    font-size: 1.3em;
    width: 50px;
    border: none;
    background: #FF6347;
    transform: translate(-50px,0);
    transition-duration: .3s;
}

button .fa-search{
    color: #bbb;
    transform: translate(-190px,0);
    transition: all .1s ease-in-out;
}

button .fa-search:hover{
    color: #FF6347;
}

.buscar input:focus{
    outline: none;
}

.buscar input:focus + button{
    transform: translate(0,0);
    transition-duration: .3s;
    cursor: pointer;
}

.buscar input:focus + button .fa{
    color: white;
    transform: translate(0,0);
    transition-duration: .4s;
}

.cuenta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    background: white;
    color: #0056D2;
}

.btn2{
    background: #0056D2;
    color: white;
}

.cuenta button{
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
}

.cuenta a{
    margin: 0 5px;
    padding: 0;
}

.btn1:hover{
    background-color: #F3F8FF;
}

.btn2:hover{
    background-color: #00419E;
}

.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
.link-2{
    text-decoration: none;
    color: #1a2537;
    font-weight: 300;
}
.link-2:hover{
    color: cadetblue;
}

/* Footer */
footer{
    font-family: 'open sans';
    background: #24303c;
    padding: 20px 0 20px 0;
    margin: auto;
    margin-top: 150px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.titulo-derechos{
    text-align: center;
    font-size: 18px;
    margin: 5px 0 0 0;
    color: #9e9797;
}

.about-us{
    width: 22%;
    margin-bottom: 5px;
}

.about-us h4{
    color: white;
    border-bottom: 3px solid #1f53c5;
    margin-bottom: 10px;
    width: 35%;
}

.about-us p{
    color: white;
    font-weight: 300;
    text-align: justify;
}

.social-menu ul {
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #4fd634;
}

/* Responsive */
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

@media screen and (max-width:900px){
    /* nav */
    .nav_label{
        display: block;
        cursor: pointer;
        margin-left: auto;
        padding-right: 35px;
    }

    .nav_menu{
        position: fixed;
        top: 61px;
        background: #2C2F48;
        width: 100%;
        height: 60vh;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav_item{
        font-family: 'Times New Roman';
        font-size: 23px;
        color: #fff;
        font-weight: 600;
        border-bottom: 1px solid #3F425E;
    }

    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);
    }

    .search{
        display: none;
    }

    .cuenta{
        display: none;
    }

    /* Footer */
    .contenedor-footer{
        flex-direction: column;
    }

    .about-us{
        width: 90%;
    }

    .social-menu{
        margin: 40px 0;
    }
}


@media screen and (max-width:500px){ 
    /* Footer */
    .about-us h4{
        width: auto;
    }

    .social-menu ul{
        width: 99%;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul a{
        margin-bottom: 5px;
    }

    .titulo-derechos{
        font-size: 17px;
    }
}




























