*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body{
    font-family: 'open sans';
}

/* Scrolling bar */
body::-webkit-scrollbar{
    width: 9px;
    background: #dcecf9;
}

body::-webkit-scrollbar-thumb{
    background: #0056D2;
    border-radius: 10px;
    border-right: 1px solid #dcecf9;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    font-family: 'Roboto Condensed', sans-serif;
    color: #FF6347;
    font-size: 37px;
    text-align: center;
    margin-bottom: 5px;
}

.tittle-style {
    position: relative;
}

.tittle-style:before {
    content: "";
    background: #000;
    width: 13%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 43%;
}

.tittle-style:after {
    content: "";
    background: #0056D2;
    width: 5%;
    height: 5px;
    position: absolute;
    top: -2px;
    left: 47%;
    border-radius: 6px;
}

#logo{
    margin: 5px 2% 0 35px;
}

#logo a{
    margin: 0;
    padding: 0;
}

nav{
	top: 0;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav a{
    color: #777;
    text-decoration: none;
    padding: 7px 22px;
    font-size: 15px;
    transition: .2s;
}

.nav_item:hover{
    background: #FF6347;
    color: white;
    border-radius: 5px;
}

.nav_label{
    font-size: 30px;
}

.nav_label, .nav_input{
    display: none;
}

/* Buscador */
.search{
    width: 300px;
    margin: 0 15px 0 130px;
}

.search .buscar{
    background: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 0 0 0 40px;
    display: inline-block;
    margin-top: 5px;
}

.buscar input, .buscar button{
    position: relative;
    float: left;
    width: 200px;
    height: 35px;
    padding: 0;
}

.buscar input{
    color: #666;
    border: none;
    z-index: 2;
}

.buscar button{
    font-size: 1.3em;
    width: 50px;
    border: none;
    background: #FF6347;
    transform: translate(-50px,0);
    transition-duration: .3s;
}

button .fa-search{
    color: #bbb;
    transform: translate(-190px,0);
    transition: all .1s ease-in-out;
}

button .fa-search:hover{
    color: #FF6347;
}

.buscar input:focus{
    outline: none;
}

.buscar input:focus + button{
    transform: translate(0,0);
    transition-duration: .3s;
    cursor: pointer;
}

.buscar input:focus + button .fa{
    color: white;
    transform: translate(0,0);
    transition-duration: .4s;
}

.cuenta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    background: white;
    color: #0056D2;
}

.btn2{
    background: #0056D2;
    color: white;
}

.cuenta button{
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
}

.cuenta a{
    margin: 0 5px;
    padding: 0;
}

.btn1:hover{
    background-color: #F3F8FF;
}

.btn2:hover{
    background-color: #00419E;
}

.mision{
	text-align: center;
}
.mision h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 37px;
	color: #ff6347;
	margin: 120px 0 5px 0;
}
.mision div{
	font-size: 14px;
	color: #505050;
	width: 1000px;
	margin: auto;
	padding: 70px 0;
}
.mision div p{
	line-height: 200%;
}
.mision div p:nth-child(2){
	margin: 30px 0;
}
.admision{
	background: #f2f2f2;
	display: flex;
}
.contenedor-admision{
	width: 50%;
	padding: 100px;
}
.contenedor-admision div{
	width: 440px;
	text-align: center;
	margin: auto;
}
.contenedor-admision div h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 37px;
	color: #ff6347;
	margin-bottom: 5px;
}
.contenedor-admision div p{
	font-size: 14px;
	color: #505050;
	margin: 35px 0 50px 0;
	line-height: 200%;
}
.contenedor-admision div a{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	border-radius: 3px;
	font-size: 20px;
	background: #0056d2;
	box-shadow: 0 0 6px 0;
}
.contenedor-admision div a:hover{
	background-color: #00419E;
}
#imagen-admision{
	background-image: url(../img/imagen-admision.jpg);
	background-size: cover;
	background-position: center;
	width: 50%;
}
.personal{
	text-align: center;
	padding: 70px 0;
}
.personal h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 37px;
	color: #ff6347;
	margin-bottom: 5px;
}
.contenedor-personal{
	display: flex;
	flex-wrap: wrap;
}
.contenedor-personal div{
	width: 20%;
}
#imagen-personal-1{
	background-image: url(../img/personal-1.jpg);
}
#imagen-personal-2{
	background-image: url(../img/personal-2.jpg);
}
#imagen-personal-3{
	background-image: url(../img/personal-3.jpg);
}
#imagen-personal-4{
	background-image: url(../img/personal-4.jpg);
}
#imagen-personal-5{
	background-image: url(../img/personal-5.jpg);
}
#imagen-personal-1, #imagen-personal-2, #imagen-personal-3, #imagen-personal-4, #imagen-personal-5{
	background-size: cover;
	width: 100%;
	height: 450px;
	background-position: center;
}
.contenedor-personal div h2{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 50px 0;
	color: #0056d2;
	font-size: 23px;
}
.contenedor-personal div h3{
	font-size: 17px;
	margin-bottom: 30px;
}
.contenedor-personal div a{
	text-decoration: none;
	color: #505050;
	font-size: 14px;
}

/* Footer */
footer{
    background: #24303c;
    padding: 20px 0 20px 0;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.titulo-derechos{
    text-align: center;
    font-size: 18px;
    margin: 5px 0 0 0;
    color: #9e9797;
}

.about-us{
    width: 22%;
    margin-bottom: 5px;
}

.about-us h4{
    color: white;
    border-bottom: 3px solid #1f53c5;
    margin-bottom: 10px;
    width: 35%;
}

.about-us p{
    color: white;
    font-weight: 300;
    text-align: justify;
}

.social-menu ul {
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #4fd634;
}

/* Responsive */
@media screen and (max-width: 1280px){
	.contenedor-admision div{
		width: 100%;
	}
}
@media screen and (max-width: 1130px){
	/*.mision h1{
		padding: 60px;
	}*/
	.mision div{
		padding: 65px;
		width: 100%;
	}
	.contenedor-admision{
		padding: 65px;
		padding-bottom: 80px;
	}
	.personal{
		padding: 65px 0;
	}
	/*.personal h1{
		margin-bottom: 65px;
	}*/
	.contenedor-personal div{
		width: 50%;
	}
	.contenedor-personal div:nth-child(1), .contenedor-personal div:nth-child(2), .contenedor-personal div:nth-child(3), .contenedor-personal div:nth-child(4){
		margin-bottom: 50px;
	}
	#imagen-personal-1, #imagen-personal-2, #imagen-personal-3, #imagen-personal-4, #imagen-personal-5{
		height: 330px;
	}
	.contenedor-personal div:nth-child(5){
		margin: auto;
	}
}
@media screen and (max-width: 890px){
	.admision{
		flex-direction: column;
	}
	.contenedor-admision{
		order: 1;
		width: 100%;
		text-align: center;
	}
	.contenedor-admision div p{
		margin-bottom: 40px;
	}
	#imagen-admision{
		order: 0;
		width: 100%;
		height: 320px;
	}
}
@media screen and (max-width: 570px){
	/*.mision h1, */.mision div{
		padding: 45px 30px;
	}
	/*.mision h1{
		font-size: 60px;
	}*/
	.contenedor-admision{
		padding: 45px 30px 60px 30px;
	}
	.contenedor-admision div h1{
		font-size: 30px;
		/*margin-bottom: 25px;*/
	}
	.personal{
		padding: 45px 0;
	}
	.personal h1{
		font-size: 30px;
		/*margin-bottom: 45px;*/
	}
	.contenedor-personal div{
		width: 100%;
	}
	.contenedor-personal div:nth-child(1), .contenedor-personal div:nth-child(2), .contenedor-personal div:nth-child(3){
		margin-bottom: 45px;
	}
	.contenedor-personal div h2{
		margin: 45px 0 20px 0;
	}
	.contenedor-personal div h3{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 425px){
	/*.mision h1{
		font-size: 40px;
	}*/
}
@media screen and (max-width: 340px){
	.mision h1{
		font-size: 30px;
	}
}


@media screen and (max-width:900px){
    /* nav */
    .nav_label{
        display: block;
        cursor: pointer;
        margin-left: auto;
        padding-right: 35px;
    }

    .nav_menu{
        position: fixed;
        top: 61px;
        background: #2C2F48;
        width: 100%;
        height: 60vh;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav_item{
        font-family: 'Times New Roman';
        font-size: 23px;
        color: #fff;
        font-weight: 600;
        border-bottom: 1px solid #3F425E;
    }

    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);
    }

    .search{
        display: none;
    }

    .cuenta{
        display: none;
    }

    /* Footer */
    .contenedor-footer{
        flex-direction: column;
    }

    .about-us{
        width: 90%;
    }

    .social-menu{
        margin: 40px 0;
    }
}


@media screen and (max-width:500px){ 
    /* Footer */
    .about-us h4{
        width: auto;
    }

    .social-menu ul{
        width: 99%;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul a{
        margin-bottom: 5px;
    }

    .titulo-derechos{
        font-size: 17px;
    }
}
